In [64]:
import pandas as pd

#Fungsi-fungsi
def readFileWithoutOutliers():
    df = pd.read_csv("../data/data_train.csv")
    Q1 = df['fc'].quantile(0.25)
    Q3 = df['fc'].quantile(0.75)
    IQR = Q3 - Q1
    upper_bound = Q3 + 1.5 * IQR
    lower_bound = Q1 - 1.5 * IQR
    df_no_outliers = df[(df['fc'] > lower_bound) & (df['fc'] < upper_bound)]
    return df_no_outliers
def classifyData(data, bins1, labels1):
    classified_data = pd.cut(data, bins=bins1, labels=[str(label) for label in labels1])
    return classified_data
def countClassifyData(namaKolomClassify, data, bins, labels):
    df[namaKolomClassify] =  classifyData(data, bins, labels)
    result0 = df[df['price_range'] == 0][namaKolomClassify].value_counts(sort=False)
    result1 = df[df['price_range'] == 1][namaKolomClassify].value_counts(sort=False)
    result2 = df[df['price_range'] == 2][namaKolomClassify].value_counts(sort=False)
    result3 = df[df['price_range'] == 3][namaKolomClassify].value_counts(sort=False)
    result0 = result0/352
    result1 = result1/344
    result2 = result2/341
    result3 = result3/334
    return result0, result1, result2, result3
def countClassifyDataBoolean(namaKolomClassify, data):
    df[namaKolomClassify] = data.replace({True, False})
    result0 = df[df['price_range'] == 0][namaKolomClassify].value_counts(sort=False)
    result1 = df[df['price_range'] == 1][namaKolomClassify].value_counts(sort=False)
    result2 = df[df['price_range'] == 2][namaKolomClassify].value_counts(sort=False)
    result3 = df[df['price_range'] == 3][namaKolomClassify].value_counts(sort=False)
    result0 = result0/352
    result1 = result1/344
    result2 = result2/341
    result3 = result3/334
    return result0, result1, result2, result3

def writeMultipleClassifyDataToTxt(file_path, kolom_klasifikasi, data_frame):
    with open(file_path, 'w') as file:
        for namaKolomClassify, bins, labels in kolom_klasifikasi:
            data = data_frame[namaKolomClassify]
            df[namaKolomClassify] = classifyData(data, bins, labels)
            result0, result1, result2, result3 = countClassifyData(f"{namaKolomClassify}_klasifikasi", data, bins, labels)
            file.write(namaKolomClassify + "\n")
            file.write("\t".join([labels[0]] + list(map(str, result0.sort_index().values))) + "\n")
            file.write("\t".join([labels[1]] + list(map(str, result1.sort_index().values))) + "\n")
            file.write("\t".join([labels[2]] + list(map(str, result2.sort_index().values))) + "\n")
            file.write("\t".join([labels[3]] + list(map(str, result3.sort_index().values))) + "\n")

def writeMultipleClassifyDataBooleanToTxt(file_path, kolom_klasifikasi, data_frame):
    with open(file_path, 'a') as file:
        for namaKolomClassify, labels in kolom_klasifikasi:
            data = data_frame[namaKolomClassify]
            result0, result1, result2, result3 = countClassifyDataBoolean(namaKolomClassify, data)
            file.write(namaKolomClassify + "\n")
            file.write("\t".join([labels[0]] + list(map(str, result0.sort_index().values))) + "\n")
            file.write("\t".join([labels[1]] + list(map(str, result1.sort_index().values))) + "\n")
            file.write("\t".join([labels[2]] + list(map(str, result2.sort_index().values))) + "\n")
            file.write("\t".join([labels[3]] + list(map(str, result3.sort_index().values))) + "\n")
#write Pvj
def writePvj(file_path, namaKolom, data_frame, arrayNilai):
    with open(file_path, 'a') as file:
        for array in arrayNilai:
            count_array = len(data_frame[data_frame[namaKolom] == array])/len(df)
            file.write(f'{namaKolom}1\t{count_array}\n')

df = readFileWithoutOutliers()
kolom_klasifikasi = [
    ('battery_power', [501, 864, 1218, 1600, 1998], ['battery_power1', 'battery_power2', 'battery_power3', 'battery_power4']),
    ("clock_speed", [0.5, 0.7, 1.5, 2.2, 3], ["clock_speed1", "clock_speed2", "clock_speed3", "clock_speed4"]),
    ("fc", [0, 1, 3, 7, 15], ["fc1", "fc2", "fc3", "fc4"]), 
    ("int_memory", [2, 16, 32, 48, 64], ["int_memory1", "int_memory2", "int_memory3", "int_memory"]), 
    ("m_dep", [0.1, 0.2, 0.5, 0.8, 1], ["m_dep1", "m_dep2", "m_dep3", "m_dep4"]),
    ("mobile_wt", [80, 107.5, 139, 169, 200], ["mobile_wt1", "mobile_wt2", "mobile_wt3", "mobile_wt4"]),
    ("n_cores", [1, 2, 4, 7, 8], ["n_cores1", "n_cores2", "n_cores3", "n_cores4"]),
    ("pc", [0, 5, 10, 15, 20], ["pc1", "pc2", "pc3", "pc4"]),
    ("px_height", [0, 273, 560, 946, 1960], ["px_height1", "px_height2", "px_height3", "px_height4"]),
    ("px_width", [500, 878, 1247, 1623, 1998], ["px_width1", "px_width2", "px_width3", "px_width4"]),
    ("ram", [256, 1210.5, 2107, 3036.5, 3998], ["ram1", "ram2", "ram3", "ram4"]),
    ("sc_h", [5, 9, 12, 16, 19], ["sc_h1", "sc_h2", "sc_h3", "sc_h4"]),
    ("sc_w", [0, 2, 5, 9, 18], ["sc_w1", "sc_w2", "sc_w3", "sc_w4"]),
    ("talk_time", [2, 6, 11, 16, 20], ["talk_time1", "talk_time2", "talk_time3", "talk_time4"])
    
]
kolom_klasifikasi_boolean = [
    ('blue', ['blue1', 'blue2', 'blue3', 'blue4']),
    ("dual_sim", ['dual_sim1', 'dual_sim2', 'dual_sim3', 'dual_sim4']),
    ("four_g", ['four_g1', 'four_g2', 'four_g3', 'four_g4']),
    ("three_g", ['three_g1', 'three_g2', 'three_g3', 'three_g4']),
    ("touch_screen", ['touch_screen1', 'touch_screen2', 'touch_screen3', 'touch_screen4']),
    ("wifi", ['wifi1', 'wifi2', 'wifi3', 'wifi4'])
]
writeMultipleClassifyDataToTxt('hasil.txt', kolom_klasifikasi, df)
writeMultipleClassifyDataBooleanToTxt('hasil.txt', kolom_klasifikasi_boolean, df)
writePvj('hasil.txt', 'price_range', df, [0,1,2,3])

In [191]:
result1, result2, result3, result4 = countClassifyData("battery_power_category", df["battery_power"], [501, 864.75, 1219, 1602, 1998], ["battery_power1", "battery_power2", "battery_power3", "battery_power4"])
print(result1)
print(result2)
print(result3)
print(result4)

battery_power_category
battery_power2    0.323864
battery_power1    0.315341
battery_power3    0.198864
battery_power4    0.161932
Name: count, dtype: float64
battery_power_category
battery_power2    0.270349
battery_power3    0.250000
battery_power4    0.241279
battery_power1    0.235465
Name: count, dtype: float64
battery_power_category
battery_power1    0.275660
battery_power3    0.252199
battery_power4    0.249267
battery_power2    0.222874
Name: count, dtype: float64
battery_power_category
battery_power4    0.341317
battery_power3    0.305389
battery_power2    0.185629
battery_power1    0.167665
Name: count, dtype: float64

In [182]:
result1, result2, result3, result4 = countClassifyData("clock_speed_category", df["clock_speed"], [0.5, 0.7, 1.5, 2.2, 3], ["clock_speed1", "clock_speed2", "clock_speed3", "clock_speed4"])
print(result1)
print(result2)
print(result3)
print(result4)

clock_speed_category
clock_speed4    0.261364
clock_speed3    0.224432
clock_speed2    0.218750
clock_speed1    0.076705
Name: count, dtype: float64
clock_speed_category
clock_speed2    0.255814
clock_speed4    0.241279
clock_speed3    0.235465
clock_speed1    0.081395
Name: count, dtype: float64
clock_speed_category
clock_speed3    0.255132
clock_speed4    0.234604
clock_speed2    0.231672
clock_speed1    0.082111
Name: count, dtype: float64
clock_speed_category
clock_speed3    0.248503
clock_speed4    0.239521
clock_speed2    0.233533
clock_speed1    0.062874
Name: count, dtype: float64

In [184]:
result1, result2, result3, result4 = countClassifyData("fc_category", df["fc"], [0, 1, 3, 7, 15], ["fc1", "fc2", "fc3", "fc4"])
print(result1)
print(result2)
print(result3)
print(result4)

fc_category
fc3    0.264205
fc4    0.196023
fc2    0.176136
fc1    0.127841
Name: count, dtype: float64
fc_category
fc3    0.220930
fc4    0.203488
fc2    0.168605
fc1    0.136628
Name: count, dtype: float64
fc_category
fc3    0.263930
fc4    0.208211
fc2    0.202346
fc1    0.090909
Name: count, dtype: float64
fc_category
fc3    0.221557
fc4    0.203593
fc2    0.182635
fc1    0.146707
Name: count, dtype: float64

In [171]:
result1, result2, result3, result4 = countClassifyData("int_memory_category", df["int_memory"], [2, 16, 32, 48, 64], ["int_memory1", "int_memory2", "int_memory3", "int_memory"])
print(result1)
print(result2)
print(result3)
print(result4)

int_memory_category
int_memory2    0.264205
int_memory     0.255682
int_memory1    0.244318
int_memory3    0.215909
Name: count, dtype: float64
int_memory_category
int_memory3    0.296512
int_memory2    0.255814
int_memory1    0.220930
int_memory     0.206395
Name: count, dtype: float64
int_memory_category
int_memory1    0.287390
int_memory2    0.249267
int_memory     0.246334
int_memory3    0.184751
Name: count, dtype: float64
int_memory_category
int_memory3    0.284431
int_memory     0.257485
int_memory2    0.230539
int_memory1    0.221557
Name: count, dtype: float64

In [92]:
result1, result2, result3, result4 = countClassifyData("m_dep_category", df["m_dep"], [0.1, 0.2, 0.5, 0.8, 1], ["m_dep1", "m_dep2", "m_dep3", "m_dep4"])
print(result1)
print(result2)
print(result3)
print(result4)

m_dep_category
m_dep3    0.309659
m_dep2    0.284091
m_dep1    0.261364
m_dep4    0.144886
Name: count, dtype: float64
m_dep_category
m_dep3    0.296512
m_dep2    0.276163
m_dep1    0.238372
m_dep4    0.188953
Name: count, dtype: float64
m_dep_category
m_dep3    0.307918
m_dep2    0.290323
m_dep1    0.260997
m_dep4    0.140762
Name: count, dtype: float64
m_dep_category
m_dep3    0.308383
m_dep2    0.287425
m_dep1    0.254491
m_dep4    0.149701
Name: count, dtype: float64

In [93]:
result1, result2, result3, result4 = countClassifyData("mobile_wt_category", df["mobile_wt"], [80, 107.5, 139, 169, 200], ["mobile_wt1", "mobile_wt2", "mobile_wt3", "mobile_wt4"])
print(result1)
print(result2)
print(result3)
print(result4)

mobile_wt_category
mobile_wt4    0.284091
mobile_wt2    0.250000
mobile_wt3    0.235795
mobile_wt1    0.230114
Name: count, dtype: float64
mobile_wt_category
mobile_wt4    0.261628
mobile_wt2    0.250000
mobile_wt3    0.247093
mobile_wt1    0.241279
Name: count, dtype: float64
mobile_wt_category
mobile_wt3    0.281525
mobile_wt2    0.260997
mobile_wt4    0.243402
mobile_wt1    0.214076
Name: count, dtype: float64
mobile_wt_category
mobile_wt1    0.317365
mobile_wt2    0.269461
mobile_wt3    0.212575
mobile_wt4    0.200599
Name: count, dtype: float64

In [48]:
result1, result2, result3, result4 = countClassifyData("n_cores_category", df["n_cores"], [1, 2, 4, 7, 8], ["n_cores1", "n_cores2", "n_cores3", "n_cores4"])
print(result1)
print(result2)
print(result3)
print(result4)

n_cores_category
n_cores3    0.386364
n_cores2    0.247159
n_cores1    0.238636
n_cores4    0.127841
Name: count, dtype: float64
n_cores_category
n_cores3    0.325581
n_cores2    0.287791
n_cores1    0.273256
n_cores4    0.113372
Name: count, dtype: float64
n_cores_category
n_cores3    0.372434
n_cores2    0.278592
n_cores1    0.231672
n_cores4    0.117302
Name: count, dtype: float64
n_cores_category
n_cores3    0.392216
n_cores1    0.260479
n_cores2    0.227545
n_cores4    0.119760
Name: count, dtype: float64

In [112]:
result1, result2, result3, result4 = countClassifyData("pc_category", df["pc"], [0, 5, 10, 15, 20], ["pc1", "pc2", "pc3", "pc4"])
print(result1)
print(result2)
print(result3)
print(result4)

pc_category
pc1    0.289773
pc2    0.258523
pc3    0.250000
pc4    0.201705
Name: count, dtype: float64
pc_category
pc1    0.290698
pc2    0.273256
pc3    0.218023
pc4    0.218023
Name: count, dtype: float64
pc_category
pc2    0.299120
pc1    0.260997
pc3    0.234604
pc4    0.205279
Name: count, dtype: float64
pc_category
pc1    0.299401
pc2    0.260479
pc4    0.230539
pc3    0.209581
Name: count, dtype: float64

In [49]:
result1, result2, result3, result4 = countClassifyData("px_height_category", df["px_height"], [0, 273, 560, 946, 1960], ["px_height1", "px_height2", "px_height3", "px_height4"])
print(result1)
print(result2)
print(result3)
print(result4)

px_height_category
px_height1    0.309659
px_height2    0.272727
px_height3    0.247159
px_height4    0.170455
Name: count, dtype: float64
px_height_category
px_height2    0.287791
px_height3    0.270349
px_height4    0.244186
px_height1    0.197674
Name: count, dtype: float64
px_height_category
px_height1    0.278592
px_height2    0.263930
px_height4    0.249267
px_height3    0.208211
Name: count, dtype: float64
px_height_category
px_height4    0.341317
px_height3    0.269461
px_height1    0.215569
px_height2    0.173653
Name: count, dtype: float64

In [50]:
result1, result2, result3, result4 = countClassifyData("px_width_category", df["px_width"], [500, 878, 1247, 1623, 1998], ["px_width1", "px_width2", "px_width3", "px_width4"])
print(result1)
print(result2)
print(result3)
print(result4)

px_width_category
px_width1    0.312500
px_width2    0.272727
px_width3    0.255682
px_width4    0.159091
Name: count, dtype: float64
px_width_category
px_width2    0.270349
px_width1    0.261628
px_width4    0.250000
px_width3    0.218023
Name: count, dtype: float64
px_width_category
px_width3    0.269795
px_width1    0.255132
px_width2    0.255132
px_width4    0.219941
Name: count, dtype: float64
px_width_category
px_width4    0.374251
px_width3    0.251497
px_width2    0.206587
px_width1    0.167665
Name: count, dtype: float64

In [51]:
result1, result2, result3, result4 = countClassifyData("ram_category", df["ram"], [256, 1210.5, 2107, 3036.5, 3998], ["ram1", "ram2", "ram3", "ram4"])
print(result1)
print(result2)
print(result3)
print(result4)

ram_category
ram1    0.849432
ram2    0.150568
ram3    0.000000
ram4    0.000000
Name: count, dtype: float64
ram_category
ram2    0.688953
ram3    0.183140
ram1    0.127907
ram4    0.000000
Name: count, dtype: float64
ram_category
ram3    0.665689
ram4    0.173021
ram2    0.161290
ram1    0.000000
Name: count, dtype: float64
ram_category
ram4    0.850299
ram3    0.149701
ram1    0.000000
ram2    0.000000
Name: count, dtype: float64

In [52]:
result1, result2, result3, result4 = countClassifyData("sc_h_category", df["sc_h"], [5, 9, 12, 16, 19], ["sc_h1", "sc_h2", "sc_h3", "sc_h4"])
print(result1)
print(result2)
print(result3)
print(result4)

sc_h_category
sc_h3    0.301136
sc_h1    0.278409
sc_h2    0.218750
sc_h4    0.201705
Name: count, dtype: float64
sc_h_category
sc_h1    0.302326
sc_h3    0.261628
sc_h2    0.226744
sc_h4    0.209302
Name: count, dtype: float64
sc_h_category
sc_h1    0.348974
sc_h2    0.219941
sc_h4    0.217009
sc_h3    0.214076
Name: count, dtype: float64
sc_h_category
sc_h3    0.344311
sc_h1    0.263473
sc_h4    0.227545
sc_h2    0.164671
Name: count, dtype: float64

In [53]:
result1, result2, result3, result4 = countClassifyData("sc_w_category", df["sc_w"], [0, 2, 5, 9, 18], ["sc_w1", "sc_w2", "sc_w3", "sc_w4"])
print(result1)
print(result2)
print(result3)
print(result4)

sc_w_category
sc_w3    0.267045
sc_w2    0.255682
sc_w1    0.252841
sc_w4    0.224432
Name: count, dtype: float64
sc_w_category
sc_w2    0.313953
sc_w1    0.299419
sc_w3    0.209302
sc_w4    0.177326
Name: count, dtype: float64
sc_w_category
sc_w2    0.281525
sc_w3    0.281525
sc_w1    0.266862
sc_w4    0.170088
Name: count, dtype: float64
sc_w_category
sc_w1    0.290419
sc_w4    0.257485
sc_w2    0.254491
sc_w3    0.197605
Name: count, dtype: float64

In [54]:
result1, result2, result3, result4 = countClassifyData("talk_time_category", df["talk_time"], [2, 6, 11, 16, 20], ["talk_time1", "talk_time2", "talk_time3", "talk_time4"])
print(result1)
print(result2)
print(result3)
print(result4)

talk_time_category
talk_time2    0.272727
talk_time3    0.272727
talk_time1    0.269886
talk_time4    0.184659
Name: count, dtype: float64
talk_time_category
talk_time3    0.293605
talk_time1    0.250000
talk_time2    0.235465
talk_time4    0.220930
Name: count, dtype: float64
talk_time_category
talk_time3    0.284457
talk_time2    0.275660
talk_time1    0.258065
talk_time4    0.181818
Name: count, dtype: float64
talk_time_category
talk_time2    0.293413
talk_time3    0.260479
talk_time1    0.236527
talk_time4    0.209581
Name: count, dtype: float64

In [56]:
result1, result2, result3, result4 = countClassifyDataBoolean("blue_category", df["blue"])
print(result1)
print(result2)
print(result3)
print(result4)

blue_category
1    0.47093
0    0.52907
Name: count, dtype: float64
blue_category
0    0.495601
1    0.504399
Name: count, dtype: float64
blue_category
0    0.476048
1    0.523952
Name: count, dtype: float64
blue_category
1    0.523952
0    0.476048
Name: count, dtype: float64

In [183]:
result1, result2, result3, result4 = countClassifyDataBoolean("dual_sim_category", df["dual_sim"])
print(result1)
print(result2)
print(result3)
print(result4)

dual_sim_category
1    0.525568
0    0.474432
Name: count, dtype: float64
dual_sim_category
1    0.505814
0    0.494186
Name: count, dtype: float64
dual_sim_category
0    0.536657
1    0.463343
Name: count, dtype: float64
dual_sim_category
1    0.517964
0    0.482036
Name: count, dtype: float64

In [170]:
result1, result2, result3, result4 = countClassifyDataBoolean("four_g_category", df["four_g"])
print(result1)
print(result2)
print(result3)
print(result4)

four_g_category
1    0.528409
0    0.471591
Name: count, dtype: float64
four_g_category
1    0.534884
0    0.465116
Name: count, dtype: float64
four_g_category
0    0.507331
1    0.492669
Name: count, dtype: float64
four_g_category
1    0.550898
0    0.449102
Name: count, dtype: float64

In [113]:
result1, result2, result3, result4 = countClassifyDataBoolean("three_g_category", df["three_g"])
print(result1)
print(result2)
print(result3)
print(result4)

three_g_category
1    0.71875
0    0.28125
Name: count, dtype: float64
three_g_category
1    0.784884
0    0.215116
Name: count, dtype: float64
three_g_category
1    0.762463
0    0.237537
Name: count, dtype: float64
three_g_category
1    0.766467
0    0.233533
Name: count, dtype: float64

In [114]:
result1, result2, result3, result4 = countClassifyDataBoolean("touch_screen_category", df["touch_screen"])
print(result1)
print(result2)
print(result3)
print(result4)

touch_screen_category
1    0.502841
0    0.497159
Name: count, dtype: float64
touch_screen_category
1    0.517442
0    0.482558
Name: count, dtype: float64
touch_screen_category
0    0.536657
1    0.463343
Name: count, dtype: float64
touch_screen_category
0    0.52994
1    0.47006
Name: count, dtype: float64

In [115]:
result1, result2, result3, result4 = countClassifyDataBoolean("wifi_category", df["wifi"])
print(result1)
print(result2)
print(result3)
print(result4)

wifi_category
0    0.522727
1    0.477273
Name: count, dtype: float64
wifi_category
0    0.514535
1    0.485465
Name: count, dtype: float64
wifi_category
0    0.530792
1    0.469208
Name: count, dtype: float64
wifi_category
1    0.532934
0    0.467066
Name: count, dtype: float64

In [120]:
#P(Vj)
len(df)
df['price_range_category'] = df["price_range"] 
result0 = df[df['price_range'] == 0]['price_range_category'].value_counts()
result1 = df[df['price_range'] == 1]['price_range_category'].value_counts()
result2 = df[df['price_range'] == 2]['price_range_category'].value_counts()
result3 = df[df['price_range'] == 3]['price_range_category'].value_counts()
result0 = result0/len(df)
result1 = result1/len(df)
result2 = result2/len(df)
result3 = result3/len(df)
print(result0)
print(result1)
print(result2)
print(result3)

price_range_category
0    0.256747
Name: count, dtype: float64
price_range_category
1    0.250912
Name: count, dtype: float64
price_range_category
2    0.248724
Name: count, dtype: float64
price_range_category
3    0.243618
Name: count, dtype: float64